@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rock+Salt&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-rendering {
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Element before intersection */
	.reveal {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
		transition: opacity 0.8s, transform 0.8s;
	}

	/* Element after intersection */
	.reveal.visible {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
